@font-face{
	font-family:LetoSans;
	font-display:swap;
	src:
		url ("../fonts/LetoSans-Bold.woff2" format("woff2")),
		url ("../fonts/LetoSans-Bold.woff" format("woff")),
		url ("../fonts/LetoSans-Bold.ttf" format("ttf"));
	font-weight:700;
	font-style:normal;
	}
	@font-face{
	font-family:LetoSansCondensed;
	font-display:swap;
	src:
		url ("../fonts/LetoSansCondensed-Regular.woff2" format("woff2")),
		url ("../fonts/LetoSansCondensed-Regular.woff" format("woff")),
		url ("../fonts/LetoSansCondensed-Regular.ttf" format("ttf"));
	font-weight:400;
	font-style:normal;
	}
	@font-face{
	font-family:LetoSansCondensed;
	font-display:swap;
	src:
		url ("../fonts/LetoSansCondensed-Thin.woff2" format("woff2")),
		url ("../fonts/LetoSansCondensed-Thin.woff" format("woff")),
		url ("../fonts/LetoSansCondensed-Thin.ttf" format("ttf"));
	font-weight:100;
	font-style:normal;
	}
	