body{
    background-color: green;
    header{
        background-color: orange;
    }
    footer{
        color: #FFFFFF;
    }
}
// nonname commit
.asd{
    color: green;
}
.asd{
    font-size: 16px;
    background-image: url(../public/);
}
